In [38]:
# Импорт библиотек
import pandas as pd

# Загрузка данных
df = pd.read_csv(r"C:\Users\maksi\OneDrive\Desktop\SMAD\датасеты_исх\Sleep_health_and_lifestyle.csv")  # Проверь имя файла!

# Базовое исследование
print("1. Первые 5 строк:")
display(df.head())

1. Первые 5 строк:

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

In [39]:
print("\n2. Информация о данных:")
display(df.info())

2. Информация о данных:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Person ID                374 non-null    int64
 1   Gender                   374 non-null    object
 2   Age                      374 non-null    int64
 3   Occupation               374 non-null    object
 4   Sleep Duration           374 non-null    float64
 5   Quality of Sleep         374 non-null    int64
 6   Physical Activity Level  374 non-null    int64
 7   Stress Level             374 non-null    int64
 8   BMI Category             374 non-null    object
 9   Blood Pressure           374 non-null    object
 10  Heart Rate               374 non-null    int64
 11  Daily Steps              374 non-null    int64
 12  Sleep Disorder           155 non-null    object
dtypes: float64(1), int64(7), object(5)
memory usage: 38.1+ KB

None

In [40]:
print("\n3. Статистика по числовым колонкам:")
display(df.describe())

3. Статистика по числовым колонкам:

,Person ID,Age,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,Heart Rate,Daily Steps
count,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000
mean,187.500000,42.184492,7.132086,7.312834,59.171123,5.385027,70.165775,6816.844920
std,108.108742,8.673133,0.795657,1.196956,20.830804,1.774526,4.135676,1617.915679
min,1.000000,27.000000,5.800000,4.000000,30.000000,3.000000,65.000000,3000.000000
25%,94.250000,35.250000,6.400000,6.000000,45.000000,4.000000,68.000000,5600.000000
50%,187.500000,43.000000,7.200000,7.000000,60.000000,5.000000,70.000000,7000.000000
75%,280.750000,50.000000,7.800000,8.000000,75.000000,7.000000,72.000000,8000.000000
max,374.000000,59.000000,8.500000,9.000000,90.000000,8.000000,86.000000,10000.000000

In [41]:
print("\n4. Уникальные значения в колонках:")
print("Профессии:", df['Occupation'].unique())
print("Гендер:", df['Gender'].unique())

4. Уникальные значения в колонках:
Профессии: ['Software Engineer' 'Doctor' 'Sales Representative' 'Teacher' 'Nurse'
 'Engineer' 'Accountant' 'Scientist' 'Lawyer' 'Salesperson' 'Manager']
Гендер: ['Male' 'Female']

In [42]:
df[['Systolic_BP', 'Diastolic_BP']] = df['Blood Pressure'].str.split('/', expand=True).astype(int)

In [43]:
display(df.head())

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder,Systolic_BP,Diastolic_BP
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN,126,83
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN,125,80
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN,125,80
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea,140,90
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea,140,90

In [44]:
df = df.drop('Blood Pressure', axis=1)

In [46]:
# BMI Category: Normal/Normal Weight -> 0, Overweight -> 1, Obese -> 2
bmi_mapping = {
    'Normal': 0,
    'Normal Weight': 0,  # Добавляем альтернативное написание
    'Overweight': 1,
    'Obese': 2
}

# Создаем колонку с числовыми кодами
df['BMI_Code'] = df['BMI Category'].map(bmi_mapping)

# Проверяем уникальные значения в исходной колонке
print("Уникальные значения BMI Category:", df['BMI Category'].unique())

Уникальные значения BMI Category: ['Overweight' 'Normal' 'Obese' 'Normal Weight']

In [45]:
# Gender: Male -> 0, Female -> 1
df['Gender_Code'] = df['Gender'].map({'Male': 0, 'Female': 1})

In [47]:
# Автоматическое преобразование профессий в числовые коды
df['Occupation_Code'] = df['Occupation'].astype('category').cat.codes

# Создаем словарь для расшифровки
occupation_mapping = dict(enumerate(df['Occupation'].astype('category').cat.categories))
print("Коды профессий:", occupation_mapping)

Коды профессий: {0: 'Accountant', 1: 'Doctor', 2: 'Engineer', 3: 'Lawyer', 4: 'Manager', 5: 'Nurse', 6: 'Sales Representative', 7: 'Salesperson', 8: 'Scientist', 9: 'Software Engineer', 10: 'Teacher'}

In [50]:
# Создаем бинарный признак (1 - есть нарушение, 0 - нет)
df['Has_Sleep_Disorder'] = df['Sleep Disorder'].apply(
    lambda x: 0 if x == 'None' else 1
)

# Альтернатива для нескольких категорий
disorder_mapping = {
    'None': 0,
    'Insomnia': 1,
    'Sleep Apnea': 2
}
df['Sleep_Disorder_Code'] = df['Sleep Disorder'].map(disorder_mapping)

In [48]:
df['Sleep Disorder'] = df['Sleep Disorder'].fillna('None')

In [51]:
import json

mappings = {
    'Gender': {'Male': 0, 'Female': 1},
    'BMI': bmi_mapping,
    'Occupation': occupation_mapping,
    'Sleep Disorder': disorder_mapping
}

with open('column_mappings.json', 'w') as f:
    json.dump(mappings, f)

In [55]:
# Выводим типы данных после преобразований
print("\nТипы данных после преобразований:")
print(df.dtypes)

# Пример преобразованных колонок
display(df[['Gender_Code','BMI_Code',
           'Has_Sleep_Disorder']].head())

Типы данных после преобразований:
Person ID                    int64
Age                          int64
Sleep Duration             float64
Quality of Sleep             int64
Physical Activity Level      int64
Stress Level                 int64
Heart Rate                   int64
Daily Steps                  int64
Systolic_BP                  int64
Diastolic_BP                 int64
Gender_Code                  int64
BMI_Code                     int64
Occupation_Code               int8
Has_Sleep_Disorder           int64
Sleep_Disorder_Code          int64
dtype: object

   Gender_Code  BMI_Code  Has_Sleep_Disorder
0            0         1                   0
1            0         0                   0
2            0         0                   0
3            0         2                   1
4            0         2                   1

In [53]:
df = df.drop(['Gender', 'BMI Category', 'Occupation', 'Sleep Disorder'], axis=1)

In [60]:
# Просто выводим все мэппинги как есть
print("=== ПОЛНЫЙ СПИСОК КОДИРОВОК ===")
print("\nGender_Code (Пол):")
for name, code in mappings['Gender'].items():
    print(f"{code}: {name}")

print("\nBMI_Code (Индекс массы тела):")
for name, code in mappings['BMI'].items():
    print(f"{code}: {name}")

print("\nOccupation_Code (Профессия):")
for code, name in mappings['Occupation'].items():
    print(f"{code}: {name}")

print("\nSleep_Disorder_Code (Нарушения сна):")
for name, code in mappings['Sleep Disorder'].items():
    print(f"{code}: {name}")

=== ПОЛНЫЙ СПИСОК КОДИРОВОК ===

Gender_Code (Пол):
0: Male
1: Female

BMI_Code (Индекс массы тела):
0: Normal
0: Normal Weight
1: Overweight
2: Obese

Occupation_Code (Профессия):
0: Accountant
1: Doctor
2: Engineer
3: Lawyer
4: Manager
5: Nurse
6: Sales Representative
7: Salesperson
8: Scientist
9: Software Engineer
10: Teacher

Sleep_Disorder_Code (Нарушения сна):
0: None
1: Insomnia
2: Sleep Apnea

In [61]:
TARGET_TYPE = 'int64'   # Стандартный вариант (без экономии памяти)

# Список столбцов для преобразования
columns_to_convert = [
    'Person ID', 'Age', 'Sleep Duration', 'Quality of Sleep',
    'Physical Activity Level', 'Stress Level', 'Heart Rate',
    'Daily Steps', 'Systolic_BP', 'Diastolic_BP',
    'Gender_Code', 'BMI_Code', 'Occupation_Code',
    'Has_Sleep_Disorder', 'Sleep_Disorder_Code'
]

# Преобразование типов данных
df[columns_to_convert] = df[columns_to_convert].astype(TARGET_TYPE)

# Проверка результатов
print("Типы данных после преобразования:")
print(df.dtypes)

Типы данных после преобразования:
Person ID                  int64
Age                        int64
Sleep Duration             int64
Quality of Sleep           int64
Physical Activity Level    int64
Stress Level               int64
Heart Rate                 int64
Daily Steps                int64
Systolic_BP                int64
Diastolic_BP               int64
Gender_Code                int64
BMI_Code                   int64
Occupation_Code            int64
Has_Sleep_Disorder         int64
Sleep_Disorder_Code        int64
dtype: object

In [62]:
# Убедитесь, что нет потери данных
print("\nМинимальные значения:")
print(df[columns_to_convert].min())

print("\nМаксимальные значения:")
print(df[columns_to_convert].max())

Минимальные значения:
Person ID                     1
Age                          27
Sleep Duration                5
Quality of Sleep              4
Physical Activity Level      30
Stress Level                  3
Heart Rate                   65
Daily Steps                3000
Systolic_BP                 115
Diastolic_BP                 75
Gender_Code                   0
BMI_Code                      0
Occupation_Code               0
Has_Sleep_Disorder            0
Sleep_Disorder_Code           0
dtype: int64

Максимальные значения:
Person ID                    374
Age                           59
Sleep Duration                 8
Quality of Sleep               9
Physical Activity Level       90
Stress Level                   8
Heart Rate                    86
Daily Steps                10000
Systolic_BP                  142
Diastolic_BP                  95
Gender_Code                    1
BMI_Code                       2
Occupation_Code               10
Has_Sleep_Disorder             1
Sleep_Disorder_Code            2
dtype: int64

In [63]:
df

,Person ID,Age,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,Heart Rate,Daily Steps,Systolic_BP,Diastolic_BP,Gender_Code,BMI_Code,Occupation_Code,Has_Sleep_Disorder,Sleep_Disorder_Code
0,1,27,6,6,42,6,77,4200,126,83,0,1,9,0,0
1,2,28,6,6,60,8,75,10000,125,80,0,0,1,0,0
2,3,28,6,6,60,8,75,10000,125,80,0,0,1,0,0
3,4,28,5,4,30,8,85,3000,140,90,0,2,6,1,2
4,5,28,5,4,30,8,85,3000,140,90,0,2,6,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,370,59,8,9,75,3,68,7000,140,95,1,1,5,1,2
370,371,59,8,9,75,3,68,7000,140,95,1,1,5,1,2
371,372,59,8,9,75,3,68,7000,140,95,1,1,5,1,2
372,373,59,8,9,75,3,68,7000,140,95,1,1,5,1,2
373,374,59,8,9,75,3,68,7000,140,95,1,1,5,1,2

In [64]:
import pandas as pd
from datetime import datetime

# Предположим, ваш DataFrame называется df
# Добавляем метаданные в имя файла
current_date = datetime.now().strftime("%Y%m%d")
output_filename = f"Sleep_Health_Lifestyle_preprocessed_{current_date}.csv"

# Сохраняем в CSV с настройками:
df.to_csv(output_filename, 
          index=False,          # Не сохранять индексы
          encoding='utf-8',     # Кодировка
          sep=',',             # Разделитель
          float_format='%.2f') # Формат чисел с плавающей точкой

print(f"Файл сохранен как: {output_filename}")
print(f"Размер данных: {len(df)} строк, {len(df.columns)} столбцов")

Файл сохранен как: Sleep_Health_Lifestyle_preprocessed_20250730.csv
Размер данных: 374 строк, 15 столбцов

In [66]:
changes_log = """
Изменения в предподготовленной версии:
1. Все числовые столбцы приведены к int64
2. Категориальные признаки закодированы
3. Пропуски заполнены
"""

# Сохраняем файл с явным указанием UTF-8 кодировки
with open('preprocessing_log.txt', 'w', encoding='utf-8') as log_file:
    log_file.write(changes_log)

print("Лог изменений успешно сохранён в preprocessing_log.txt")

Лог изменений успешно сохранён в preprocessing_log.txt