# üìò –ü–æ–ª–Ω–æ–µ —Ä—É–∫–æ–≤–æ–¥—Å—Ç–≤–æ –ø–æ SQL –¥–ª—è –∞–Ω–∞–ª–∏—Ç–∏–∫–∞ –¥–∞–Ω–Ω—ã—Ö

–ö–æ–º–ø–ª–µ–∫—Å–Ω—ã–π –∫–æ–Ω—Å–ø–µ–∫—Ç –¥–ª—è –Ω–æ–≤–∏—á–∫–æ–≤. –í–∫–ª—é—á–∞–µ—Ç –≤—Å–µ —Ç–µ–º—ã: –æ—Ç –æ—Å–Ω–æ–≤ –¥–æ –æ–∫–æ–Ω–Ω—ã—Ö —Ñ—É–Ω–∫—Ü–∏–π –∏ –∏–Ω—Ç–µ–≥—Ä–∞—Ü–∏–∏ —Å Python. –ú–æ–∂–Ω–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –∫–∞–∫ —à–ø–∞—Ä–≥–∞–ª–∫—É.

üìÅ **–°—Ç—Ä—É–∫—Ç—É—Ä–∞ –ø—Ä–æ–µ–∫—Ç–∞:**
```
sql_analytics_handbook/
‚îú‚îÄ‚îÄ Complete_SQL_Guide_for_Data_Analysts.ipynb  ‚Üê –≠—Ç–æ—Ç —Ñ–∞–π–ª
‚îú‚îÄ‚îÄ data/
‚îÇ   ‚îú‚îÄ‚îÄ employees.csv
‚îÇ   ‚îú‚îÄ‚îÄ orders.csv
‚îÇ   ‚îî‚îÄ‚îÄ customers.csv
‚îî‚îÄ‚îÄ requirements.txt
```

## 1. –û—Å–Ω–æ–≤—ã: SELECT, WHERE, GROUP BY, ORDER BY

### –û—Å–Ω–æ–≤–Ω—ã–µ –∫–æ–º–∞–Ω–¥—ã:
- `SELECT` ‚Äî –≤—ã–±–æ—Ä —Å—Ç–æ–ª–±—Ü–æ–≤
- `FROM` ‚Äî —É–∫–∞–∑–∞–Ω–∏–µ —Ç–∞–±–ª–∏—Ü—ã
- `WHERE` ‚Äî —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏—è —Å—Ç—Ä–æ–∫ (–¥–æ –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏)
- `GROUP BY` ‚Äî –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞ —Å—Ç—Ä–æ–∫ –ø–æ –∑–Ω–∞—á–µ–Ω–∏—é
- `HAVING` ‚Äî —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏—è –≥—Ä—É–ø–ø (–ø–æ—Å–ª–µ –∞–≥—Ä–µ–≥–∞—Ü–∏–∏)
- `ORDER BY` ‚Äî —Å–æ—Ä—Ç–∏—Ä–æ–≤–∫–∞ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∞
- `LIMIT` ‚Äî –æ–≥—Ä–∞–Ω–∏—á–µ–Ω–∏–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ —Å—Ç—Ä–æ–∫

### –ê–≥—Ä–µ–≥–∞—Ç–Ω—ã–µ —Ñ—É–Ω–∫—Ü–∏–∏:
- `COUNT()` ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫
- `SUM()` ‚Äî —Å—É–º–º–∞
- `AVG()` ‚Äî —Å—Ä–µ–¥–Ω–µ–µ
- `MIN()`, `MAX()` ‚Äî –º–∏–Ω–∏–º—É–º –∏ –º–∞–∫—Å–∏–º—É–º
- –ò–≥–Ω–æ—Ä–∏—Ä—É—é—Ç `NULL`
- `DISTINCT` —É–¥–∞–ª—è–µ—Ç –¥—É–±–ª–∏–∫–∞—Ç—ã

In [ ]:
# –ü—Ä–∏–º–µ—Ä: –ê–Ω–∞–ª–∏–∑ —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–æ–≤
query_basics = '''
SELECT 
    department,
    COUNT(*) AS employee_count,
    AVG(salary) AS avg_salary,
    MIN(hire_date) AS first_hire
FROM employees 
WHERE salary > 50000 
    AND hire_date >= '2020-01-01'
GROUP BY department
HAVING AVG(salary) > 60000
ORDER BY avg_salary DESC
LIMIT 10;
'''

print(query_basics)

## 2. –î–∂–æ–π–Ω—ã: —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ —Ç–∞–±–ª–∏—Ü

- `INNER JOIN`: —Ç–æ–ª—å–∫–æ —Å—Ç—Ä–æ–∫–∏ —Å —Å–æ–≤–ø–∞–¥–µ–Ω–∏—è–º–∏ –≤ –æ–±–µ–∏—Ö —Ç–∞–±–ª–∏—Ü–∞—Ö
- `LEFT JOIN`: –≤—Å–µ —Å—Ç—Ä–æ–∫–∏ –∏–∑ –ª–µ–≤–æ–π —Ç–∞–±–ª–∏—Ü—ã + —Å–æ–≤–ø–∞–¥–µ–Ω–∏—è –∏–∑ –ø—Ä–∞–≤–æ–π (–µ—Å–ª–∏ –Ω–µ—Ç ‚Äî NULL)
- `RIGHT JOIN`: –≤—Å–µ —Å—Ç—Ä–æ–∫–∏ –∏–∑ –ø—Ä–∞–≤–æ–π —Ç–∞–±–ª–∏—Ü—ã + —Å–æ–≤–ø–∞–¥–µ–Ω–∏—è –∏–∑ –ª–µ–≤–æ–π
- `FULL OUTER JOIN`: –≤—Å–µ —Å—Ç—Ä–æ–∫–∏ –∏–∑ –æ–±–µ–∏—Ö —Ç–∞–±–ª–∏—Ü
- `CROSS JOIN`: –≤—Å–µ –≤–æ–∑–º–æ–∂–Ω—ã–µ –∫–æ–º–±–∏–Ω–∞—Ü–∏–∏ (–¥–µ–∫–∞—Ä—Ç–æ–≤–æ –ø—Ä–æ–∏–∑–≤–µ–¥–µ–Ω–∏–µ)
- `SELF JOIN`: —Ç–∞–±–ª–∏—Ü–∞ —Å–æ–µ–¥–∏–Ω—è–µ—Ç—Å—è —Å–∞–º–∞ —Å —Å–æ–±–æ–π (—á–µ—Ä–µ–∑ –ø—Å–µ–≤–¥–æ–Ω–∏–º—ã)

In [ ]:
# –ü—Ä–∏–º–µ—Ä: –∑–∞–∫–∞–∑—ã —Å –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–µ–π –æ –∫–ª–∏–µ–Ω—Ç–∞—Ö
query_join = '''
SELECT 
    o.order_id,
    o.order_date,
    o.total_amount,
    c.customer_name,
    c.email
FROM orders o
LEFT JOIN customers c ON o.customer_id = c.customer_id
WHERE o.order_date >= '2023-01-01'
ORDER BY o.order_date DESC;
'''

print(query_join)

## 3. –ü–æ–¥–∑–∞–ø—Ä–æ—Å—ã –∏ –æ–∫–æ–Ω–Ω—ã–µ —Ñ—É–Ω–∫—Ü–∏–∏

### –ü–æ–¥–∑–∞–ø—Ä–æ—Å—ã
–ó–∞–ø—Ä–æ—Å –≤–Ω—É—Ç—Ä–∏ –¥—Ä—É–≥–æ–≥–æ –∑–∞–ø—Ä–æ—Å–∞. –ú–æ–∂–µ—Ç –±—ã—Ç—å –≤ `SELECT`, `FROM`, `WHERE`.

### –û–∫–æ–Ω–Ω—ã–µ —Ñ—É–Ω–∫—Ü–∏–∏
–í—ã–ø–æ–ª–Ω—è—é—Ç –≤—ã—á–∏—Å–ª–µ–Ω–∏—è –ø–æ ¬´–æ–∫–Ω—É¬ª —Å—Ç—Ä–æ–∫, —Å–≤—è–∑–∞–Ω–Ω—ã—Ö —Å —Ç–µ–∫—É—â–µ–π. –ò—Å–ø–æ–ª—å–∑—É—é—Ç `OVER()`.

–°–∏–Ω—Ç–∞–∫—Å–∏—Å: `FUNCTION() OVER ([PARTITION BY] [ORDER BY] [ROWS/RANGE])`

–ß–∞—Å—Ç—ã–µ —Ñ—É–Ω–∫—Ü–∏–∏:
- `ROW_NUMBER()`, `RANK()`, `DENSE_RANK()` ‚Äî –Ω—É–º–µ—Ä–∞—Ü–∏—è –∏ —Ä–∞–Ω–∂–∏—Ä–æ–≤–∞–Ω–∏–µ
- `LAG()`, `LEAD()` ‚Äî –¥–æ—Å—Ç—É–ø –∫ –ø—Ä–µ–¥—ã–¥—É—â–µ–π/—Å–ª–µ–¥—É—é—â–µ–π —Å—Ç—Ä–æ–∫–µ
- `SUM() OVER`, `AVG() OVER` ‚Äî —Å–∫–æ–ª—å–∑—è—â–∏–µ —Å—É–º–º—ã –∏ —Å—Ä–µ–¥–Ω–∏–µ

In [ ]:
# –ü—Ä–∏–º–µ—Ä: —Ç–æ–ø-3 —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–∞ –ø–æ –∑–∞—Ä–ø–ª–∞—Ç–µ –≤ –∫–∞–∂–¥–æ–º –æ—Ç–¥–µ–ª–µ
query_window = '''
SELECT 
    department,
    employee_name,
    salary,
    RANK() OVER (PARTITION BY department ORDER BY salary DESC) AS dept_rank
FROM employees;
'''

print(query_window)

# –ü—Ä–∏–º–µ—Ä: –ø–æ–¥–∑–∞–ø—Ä–æ—Å –¥–ª—è —Å—Ä–∞–≤–Ω–µ–Ω–∏—è —Å —Å—Ä–µ–¥–Ω–µ–π –∑–∞—Ä–ø–ª–∞—Ç–æ–π
query_sub = '''
SELECT employee_name, salary
FROM employees
WHERE salary > (SELECT AVG(salary) FROM employees);
'''

print("\n", query_sub)

## 4. –ò–Ω—Ç–µ–≥—Ä–∞—Ü–∏—è SQL –∏ Python: pandas + sqlalchemy

### –£—Å—Ç–∞–Ω–æ–≤–∫–∞
```bash
pip install pandas sqlalchemy psycopg2-binary jupysql
```

### –†–∞–±–æ—á–∏–π –ø—Ä–æ—Ü–µ—Å—Å
1. –ü–æ–¥–∫–ª—é—á–∏—Ç—å—Å—è –∫ PostgreSQL
2. –í—ã–ø–æ–ª–Ω–∏—Ç—å SQL-–∑–∞–ø—Ä–æ—Å ‚Üí –ø–æ–ª—É—á–∏—Ç—å `DataFrame`
3. –û–±—Ä–∞–±–æ—Ç–∞—Ç—å –¥–∞–Ω–Ω—ã–µ —Å –ø–æ–º–æ—â—å—é `pandas`
4. –ü–æ—Å—Ç—Ä–æ–∏—Ç—å –≥—Ä–∞—Ñ–∏–∫
5. –ü—Ä–∏ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ—Å—Ç–∏ ‚Äî —Å–æ—Ö—Ä–∞–Ω–∏—Ç—å –æ–±—Ä–∞—Ç–Ω–æ –≤ –ë–î

In [ ]:
# –ó–∞–≥—Ä—É–∂–∞–µ–º —Ä–∞—Å—à–∏—Ä–µ–Ω–∏–µ –¥–ª—è SQL
%load_ext sql

# –ü–æ–¥–∫–ª—é—á–∞–µ–º—Å—è –∫ PostgreSQL
# –ó–∞–º–µ–Ω–∏—Ç–µ user, password, host, port, db –Ω–∞ —Å–≤–æ–∏
%sql postgresql+psycopg2://user:password@localhost:5432/analytics_db

# –í—ã–ø–æ–ª–Ω—è–µ–º –∑–∞–ø—Ä–æ—Å –∏ –ø–æ–ª—É—á–∞–µ–º DataFrame
result = %sql SELECT * FROM sales LIMIT 5
df = result.DataFrame()

import pandas as pd
print("–î–∞–Ω–Ω—ã–µ –∏–∑ PostgreSQL:")
print(df.head())

# –ó–∞–≥—Ä—É–∂–∞–µ–º CSV-—Ñ–∞–π–ª
df_csv = pd.read_csv('data/employees.csv')
print("\n–î–∞–Ω–Ω—ã–µ –∏–∑ CSV:")
print(df_csv.head())

# –°–æ—Ö—Ä–∞–Ω—è–µ–º DataFrame –≤ –ë–î (–ø—Ä–∏–º–µ—Ä)
# df.to_sql('processed_data', engine, if_exists='replace')

## 5. –ü—Ä–∞–∫—Ç–∏—á–µ—Å–∫–∏–µ –ø—Ä–∏–º–µ—Ä—ã –¥–ª—è –∞–Ω–∞–ª–∏—Ç–∏–∫–∏

### –í–æ—Ä–æ–Ω–∫–∞ –ø—Ä–æ–¥–∞–∂
```sql
WITH user_activity AS (
    SELECT
        u.user_id,
        DATE_TRUNC('month', u.signup_date) AS signup_month,
        MIN(DATE_TRUNC('month', o.order_date)) AS first_order_month
    FROM users u
    LEFT JOIN orders o ON u.user_id = o.user_id AND o.status = 'completed'
    GROUP BY u.user_id, signup_month
)
SELECT
    signup_month,
    COUNT(*) AS new_users,
    SUM(CASE WHEN first_order_month IS NULL THEN 1 ELSE 0 END) AS never_ordered
FROM user_activity
GROUP BY signup_month
ORDER BY signup_month;
```

### A/B-—Ç–µ—Å—Ç
```sql
SELECT
    u.group,
    COUNT(DISTINCT u.user_id) AS users,
    COUNT(DISTINCT o.order_id) AS orders,
    AVG(o.total_amount) AS avg_order_value
FROM users u
LEFT JOIN orders o ON u.user_id = o.user_id AND o.status = 'completed'
WHERE u.group IN ('control', 'test')
GROUP BY u.group;
```

### –ö—É–º—É–ª—è—Ç–∏–≤–Ω–∞—è —Å—É–º–º–∞
```sql
SELECT
    order_date,
    SUM(revenue) OVER (ORDER BY order_date) AS cumulative_revenue
FROM daily_revenue
ORDER BY order_date;
```

## 6. –°–æ–∑–¥–∞–Ω–∏–µ —Ç–∞–±–ª–∏—Ü –∏ —É–ø—Ä–∞–≤–ª–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã–º–∏

- `CREATE TABLE` ‚Äî —Å–æ–∑–¥–∞—Ç—å —Ç–∞–±–ª–∏—Ü—É
- `ALTER TABLE ADD COLUMN` ‚Äî –¥–æ–±–∞–≤–∏—Ç—å —Å—Ç–æ–ª–±–µ—Ü
- `DROP TABLE` ‚Äî —É–¥–∞–ª–∏—Ç—å —Ç–∞–±–ª–∏—Ü—É
- `INSERT INTO` ‚Äî –¥–æ–±–∞–≤–∏—Ç—å —Å—Ç—Ä–æ–∫—É
- `UPDATE ... SET ... WHERE` ‚Äî –∏–∑–º–µ–Ω–∏—Ç—å –¥–∞–Ω–Ω—ã–µ
- `DELETE FROM ... WHERE` ‚Äî —É–¥–∞–ª–∏—Ç—å —Å—Ç—Ä–æ–∫–∏
- `BEGIN`, `COMMIT`, `ROLLBACK` ‚Äî —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏–∏

## 7. –ó–∞–¥–∞–Ω–∏—è –¥–ª—è –ø—Ä–∞–∫—Ç–∏–∫–∏

1. –ù–∞–ø–∏—à–∏—Ç–µ –∑–∞–ø—Ä–æ—Å, –∫–æ—Ç–æ—Ä—ã–π –Ω–∞–π–¥—ë—Ç –≤—Å–µ—Ö –∫–ª–∏–µ–Ω—Ç–æ–≤, —Å–¥–µ–ª–∞–≤—à–∏—Ö –∑–∞–∫–∞–∑—ã –≤ 2023 –≥–æ–¥—É, –Ω–æ –Ω–∏ –æ–¥–Ω–æ–≥–æ ‚Äî –≤ 2024.
2. –ò—Å–ø–æ–ª—å–∑—É—è –æ–∫–æ–Ω–Ω—É—é —Ñ—É–Ω–∫—Ü–∏—é, –¥–æ–±–∞–≤—å—Ç–µ —Ä–∞–Ω–≥ —Ç–æ–≤–∞—Ä–∞ –ø–æ –≤—ã—Ä—É—á–∫–µ –≤ —Ä–∞–∑—Ä–µ–∑–µ –ø–æ —Ä–µ–≥–∏–æ–Ω–∞–º.
3. –°–æ–∑–¥–∞–π—Ç–µ –ø–æ–¥–∑–∞–ø—Ä–æ—Å, –∫–æ—Ç–æ—Ä—ã–π –Ω–∞–π–¥—ë—Ç –æ—Ç–¥–µ–ª—ã —Å –∑–∞—Ä–ø–ª–∞—Ç–æ–π –≤—ã—à–µ —Å—Ä–µ–¥–Ω–µ–π –ø–æ –∫–æ–º–ø–∞–Ω–∏–∏.
4. –ó–∞–≥—Ä—É–∑–∏—Ç–µ CSV-—Ñ–∞–π–ª —Å –ø—Ä–æ–¥–∞–∂–∞–º–∏, –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ –≤—ã—Ä—É—á–∫—É –ø–æ –º–µ—Å—è—Ü–∞–º –∏ –ø–æ—Å—Ç—Ä–æ–π—Ç–µ –≥—Ä–∞—Ñ–∏–∫.
5. –ù–∞–ø–∏—à–∏—Ç–µ `FULL OUTER JOIN`, —á—Ç–æ–±—ã –ø–æ–∫–∞–∑–∞—Ç—å –≤—Å–µ –ø—Ä–æ–¥—É–∫—Ç—ã –∏ –≤—Å–µ –∑–∞–∫–∞–∑—ã, –≤–∫–ª—é—á–∞—è –Ω–µ—Å–≤—è–∑–∞–Ω–Ω—ã–µ.

## 8. –†–µ–∫–æ–º–µ–Ω–¥—É–µ–º—ã–µ –∫–Ω–∏–≥–∏ –¥–ª—è –Ω–æ–≤–∏—á–∫–æ–≤

1. **"SQL –∑–∞ 10 –º–∏–Ω—É—Ç" (–ë–µ–Ω –§–æ—Ä—Ç–Ω–∞)** ‚Äî –±—ã—Å—Ç—Ä—ã–π —Å—Ç–∞—Ä—Ç
2. **"–ò–∑—É—á–∞–µ–º SQL" (–ê–ª–∞–Ω –ë—å—é–ª–∏)** ‚Äî –≥–ª—É–±–æ–∫–æ–µ –ø–æ–Ω–∏–º–∞–Ω–∏–µ
3. **"Head First SQL" (–õ–∏–Ω–Ω –ë–µ–π–≥–ª–∏)** ‚Äî –≤–∏–∑—É–∞–ª—å–Ω–æ –∏ –ø–æ–Ω—è—Ç–Ω–æ
4. **"SQL Cookbook" (–≠–Ω—Ç–æ–Ω–∏ –ú–æ–ª–∏–Ω–∞–æ)** ‚Äî —Ä–µ—à–µ–Ω–∏—è –∑–∞–¥–∞—á
5. **"SQL: –ü—Ä–∞–∫—Ç–∏—á–µ—Å–∫–∏–µ –∑–∞–¥–∞—á–∏" (–°–∏–ª—å–≤–∏—è –ú–æ—Å—Ç–µ–ª—å –í–∞—Å–∏–ª–∏–∫)** ‚Äî –æ—Ç—Ä–∞–±–æ—Ç–∫–∞ –Ω–∞–≤—ã–∫–æ–≤