# üìò –ü–æ–ª–Ω–æ–µ —Ä—É–∫–æ–≤–æ–¥—Å—Ç–≤–æ –ø–æ SQL –¥–ª—è –∞–Ω–∞–ª–∏—Ç–∏–∫–∞ –¥–∞–Ω–Ω—ã—Ö

–ö–æ–º–ø–ª–µ–∫—Å–Ω—ã–π –∫–æ–Ω—Å–ø–µ–∫—Ç –¥–ª—è –Ω–æ–≤–∏—á–∫–æ–≤. –í–∫–ª—é—á–∞–µ—Ç –≤—Å–µ —Ç–µ–º—ã: –æ—Ç —Å–æ–∑–¥–∞–Ω–∏—è —Ç–∞–±–ª–∏—Ü –¥–æ –∞–Ω–∞–ª–∏—Ç–∏–∫–∏ –∏ –≤–∏–∑—É–∞–ª–∏–∑–∞—Ü–∏–∏.

üìÅ **–°—Ç—Ä—É–∫—Ç—É—Ä–∞ –ø—Ä–æ–µ–∫—Ç–∞:**
```
sql_analytics_handbook/
‚îú‚îÄ‚îÄ Complete_SQL_Guide_for_Data_Analysts.ipynb
‚îú‚îÄ‚îÄ data/
‚îÇ   ‚îú‚îÄ‚îÄ employees.csv
‚îÇ   ‚îî‚îÄ‚îÄ sales.xlsx
‚îî‚îÄ‚îÄ requirements.txt
```

## 9. –°–æ–∑–¥–∞–Ω–∏–µ —Ç–∞–±–ª–∏—Ü –∏ –∑–∞–≥—Ä—É–∑–∫–∞ –¥–∞–Ω–Ω—ã—Ö

–ü–µ—Ä–µ–¥ –∞–Ω–∞–ª–∏–∑–æ–º –Ω—É–∂–Ω–æ **—Å–æ–∑–¥–∞—Ç—å —Ç–∞–±–ª–∏—Ü—ã** –∏ **–∑–∞–≥—Ä—É–∑–∏—Ç—å –¥–∞–Ω–Ω—ã–µ**. –≠—Ç–æ –º–æ–∂–Ω–æ —Å–¥–µ–ª–∞—Ç—å:
1. –ß–µ—Ä–µ–∑ SQL (`CREATE TABLE`, `INSERT`)
2. –ß–µ—Ä–µ–∑ Python + `pandas` (–∏–∑ CSV, Excel)
3. –°–º–µ—à–∞–Ω–Ω—ã–π –ø–æ–¥—Ö–æ–¥: —Å–æ–∑–¥–∞—Ç—å —Ç–∞–±–ª–∏—Ü—É –≤ SQL, –∑–∞–≥—Ä—É–∑–∏—Ç—å –¥–∞–Ω–Ω—ã–µ –∏–∑ —Ñ–∞–π–ª–∞

### 9.1. –°–æ–∑–¥–∞–Ω–∏–µ —Ç–∞–±–ª–∏—Ü—ã –≤ PostgreSQL

–ò—Å–ø–æ–ª—å–∑—É–π—Ç–µ `CREATE TABLE`, —á—Ç–æ–±—ã –æ–ø—Ä–µ–¥–µ–ª–∏—Ç—å —Å—Ç—Ä—É–∫—Ç—É—Ä—É.

#### –¢–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö –≤ PostgreSQL:
- `INTEGER`, `BIGINT` ‚Äî —Ü–µ–ª—ã–µ —á–∏—Å–ª–∞
- `VARCHAR(n)`, `TEXT` ‚Äî —Å—Ç—Ä–æ–∫–∏
- `DATE`, `TIMESTAMP` ‚Äî –¥–∞—Ç–∞ –∏ –≤—Ä–µ–º—è
- `NUMERIC(p,s)`, `DOUBLE PRECISION` ‚Äî –¥—Ä–æ–±–Ω—ã–µ —á–∏—Å–ª–∞
- `BOOLEAN` ‚Äî –ª–æ–≥–∏—á–µ—Å–∫–∏–µ –∑–Ω–∞—á–µ–Ω–∏—è

In [ ]:
# –°–æ–∑–¥–∞—ë–º —Ç–∞–±–ª–∏—Ü—É –≤—Ä—É—á–Ω—É—é —á–µ—Ä–µ–∑ SQL
%%sql
CREATE TABLE IF NOT EXISTS employees (
    employee_id SERIAL PRIMARY KEY,
    first_name VARCHAR(50) NOT NULL,
    last_name VARCHAR(50) NOT NULL,
    email VARCHAR(100) UNIQUE,
    department VARCHAR(50),
    salary NUMERIC(10,2),
    hire_date DATE,
    is_active BOOLEAN DEFAULT TRUE
);

### 9.2. –ó–∞–≥—Ä—É–∑–∫–∞ –¥–∞–Ω–Ω—ã—Ö –∏–∑ CSV

–ß–∞—Å—Ç–æ –¥–∞–Ω–Ω—ã–µ –ø—Ä–∏—Ö–æ–¥—è—Ç –≤ –≤–∏–¥–µ CSV. –ó–∞–≥—Ä—É–∑–∏–º –∏—Ö –≤ `pandas`, –∑–∞—Ç–µ–º –≤ PostgreSQL.

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# –ü—Ä–∏–º–µ—Ä: —Å–æ–∑–¥–∞–¥–∏–º CSV-—Ñ–∞–π–ª –¥–ª—è –¥–µ–º–æ–Ω—Å—Ç—Ä–∞—Ü–∏–∏
data = {
    'first_name': ['–ò–≤–∞–Ω', '–ú–∞—Ä–∏—è', '–ü–µ—Ç—Ä', '–ê–Ω–Ω–∞'],
    'last_name': ['–ò–≤–∞–Ω–æ–≤', '–ü–µ—Ç—Ä–æ–≤–∞', '–°–∏–¥–æ—Ä–æ–≤', '–ö—É–∑–Ω–µ—Ü–æ–≤–∞'],
    'email': ['ivan@example.com', 'maria@example.com', 'petr@example.com', 'anna@example.com'],
    'department': ['IT', 'HR', 'IT', 'Finance'],
    'salary': [80000, 60000, 90000, 70000],
    'hire_date': ['2022-01-15', '2021-03-10', '2022-06-20', '2023-01-05']
}

df_employees = pd.DataFrame(data)
df_employees.to_csv('data/employees.csv', index=False, encoding='utf-8')

print("CSV —Ñ–∞–π–ª —Å–æ–∑–¥–∞–Ω:")
print(df_employees)

In [ ]:
# –ó–∞–≥—Ä—É–∂–∞–µ–º CSV –∏ –∑–∞–ø–∏—Å—ã–≤–∞–µ–º –≤ PostgreSQL
df_csv = pd.read_csv('data/employees.csv')

# –°–æ–∑–¥–∞—ë–º –ø–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –∫ –ë–î
# –ó–∞–º–µ–Ω–∏—Ç–µ user, password, host, port, db –Ω–∞ —Å–≤–æ–∏
engine = create_engine('postgresql+psycopg2://user:password@localhost:5432/analytics_db')

# –ó–∞–ø–∏—Å—ã–≤–∞–µ–º DataFrame –≤ —Ç–∞–±–ª–∏—Ü—É
df_csv.to_sql('employees', engine, if_exists='append', index=False)

print("–î–∞–Ω–Ω—ã–µ –∏–∑ CSV —É—Å–ø–µ—à–Ω–æ –∑–∞–≥—Ä—É–∂–µ–Ω—ã –≤ —Ç–∞–±–ª–∏—Ü—É employees!")

### 9.3. –ó–∞–≥—Ä—É–∑–∫–∞ –¥–∞–Ω–Ω—ã—Ö –∏–∑ Excel

–¢–æ—á–Ω–æ —Ç–∞–∫ –∂–µ –º–æ–∂–Ω–æ –∑–∞–≥—Ä—É–∑–∏—Ç—å `.xlsx` —Ñ–∞–π–ª.

In [ ]:
# –ü—Ä–∏–º–µ—Ä: —Å–æ–∑–¥–∞–¥–∏–º Excel-—Ñ–∞–π–ª
sales_data = {
    'order_id': [101, 102, 103],
    'product': ['–ù–æ—É—Ç–±—É–∫', '–ú—ã—à—å', '–ö–ª–∞–≤–∏–∞—Ç—É—Ä–∞'],
    'revenue': [50000, 1500, 3000],
    'sale_date': ['2024-01-10', '2024-01-11', '2024-01-11']
}

df_sales = pd.DataFrame(sales_data)
df_sales.to_excel('data/sales.xlsx', index=False)

print("Excel —Ñ–∞–π–ª —Å–æ–∑–¥–∞–Ω:")
print(df_sales)

In [ ]:
# –ó–∞–≥—Ä—É–∂–∞–µ–º Excel –∏ –∑–∞–ø–∏—Å—ã–≤–∞–µ–º –≤ –ë–î
df_excel = pd.read_excel('data/sales.xlsx')

# –°–æ–∑–¥–∞—ë–º —Ç–∞–±–ª–∏—Ü—É sales, –µ—Å–ª–∏ –µ—ë –Ω–µ—Ç
%%sql
CREATE TABLE IF NOT EXISTS sales (
    order_id INTEGER PRIMARY KEY,
    product VARCHAR(100),
    revenue NUMERIC(10,2),
    sale_date DATE
);

# –ó–∞–ø–∏—Å—ã–≤–∞–µ–º –¥–∞–Ω–Ω—ã–µ
df_excel.to_sql('sales', engine, if_exists='append', index=False)

print("–î–∞–Ω–Ω—ã–µ –∏–∑ Excel —É—Å–ø–µ—à–Ω–æ –∑–∞–≥—Ä—É–∂–µ–Ω—ã –≤ —Ç–∞–±–ª–∏—Ü—É sales!")

### 9.4. –ü—Ä–æ–≤–µ—Ä–∫–∞ –¥–∞–Ω–Ω—ã—Ö

–£–±–µ–¥–∏–º—Å—è, —á—Ç–æ –¥–∞–Ω–Ω—ã–µ –∑–∞–≥—Ä—É–∂–µ–Ω—ã.

In [ ]:
# –ü—Ä–æ–≤–µ—Ä–∏–º –¥–∞–Ω–Ω—ã–µ –≤ —Ç–∞–±–ª–∏—Ü–µ employees
%%sql
SELECT * FROM employees LIMIT 5;

In [ ]:
# –ü—Ä–æ–≤–µ—Ä–∏–º sales
%%sql
SELECT * FROM sales;

## 10. –ü—Ä–∞–∫—Ç–∏—á–µ—Å–∫–∏–µ –ø—Ä–∏–º–µ—Ä—ã –∞–Ω–∞–ª–∏—Ç–∏–∫–∏

–¢–µ–ø–µ—Ä—å, –∫–æ–≥–¥–∞ –¥–∞–Ω–Ω—ã–µ –∑–∞–≥—Ä—É–∂–µ–Ω—ã, –º–æ–∂–Ω–æ –∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å.

### –°—Ä–µ–¥–Ω—è—è –∑–∞—Ä–ø–ª–∞—Ç–∞ –ø–æ –æ—Ç–¥–µ–ª–∞–º
```sql
SELECT 
    department,
    AVG(salary) AS avg_salary
FROM employees
GROUP BY department;
```

### –û–±—â–∞—è –≤—ã—Ä—É—á–∫–∞
```sql
SELECT SUM(revenue) AS total_revenue FROM sales;
```