# üìä –ê–Ω–∞–ª–∏–∑ –¥–∞–Ω–Ω—ã—Ö: Pandas –∏ NumPy
## –£—á–µ–±–Ω—ã–π –∫–æ–Ω—Å–ø–µ–∫—Ç –¥–ª—è –Ω–∞—á–∏–Ω–∞—é—â–∏—Ö

---

### üìö –°–æ–¥–µ—Ä–∂–∞–Ω–∏–µ
1. [–ë–∞–∑–æ–≤—ã–µ —Ñ—É–Ω–∫—Ü–∏–∏ Python](#1-–±–∞–∑–æ–≤—ã–µ-—Ñ—É–Ω–∫—Ü–∏–∏-python-–¥–ª—è-–∞–Ω–∞–ª–∏–∑–∞-–¥–∞–Ω–Ω—ã—Ö)
2. [–ó–Ω–∞–∫–æ–º—Å—Ç–≤–æ —Å NumPy](#2-–∑–Ω–∞–∫–æ–º—Å—Ç–≤–æ-—Å-numpy)
3. [–†–∞–±–æ—Ç–∞ —Å Pandas: –∑–∞–≥—Ä—É–∑–∫–∞ –∏ –∞–Ω–∞–ª–∏–∑](#3-—Ä–∞–±–æ—Ç–∞-—Å-pandas-–∑–∞–≥—Ä—É–∑–∫–∞-–∏-–ø–µ—Ä–≤–∏—á–Ω—ã–π-–∞–Ω–∞–ª–∏–∑)
4. [–ü—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–∞ –¥–∞–Ω–Ω—ã—Ö](#4-–ø—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–∞-–¥–∞–Ω–Ω—ã—Ö-–ø—Ä–æ–ø—É—Å–∫–∏-–¥—É–±–ª–∏–∫–∞—Ç—ã-—Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏—è)
5. [–ì—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞ –∏ –∞–≥—Ä–µ–≥–∞—Ü–∏—è](#5-–≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞-–∞–≥—Ä–µ–≥–∞—Ü–∏—è-–∏-—Å–≤–æ–¥–Ω—ã–µ-—Ç–∞–±–ª–∏—Ü—ã)

## 1. –ë–∞–∑–æ–≤—ã–µ —Ñ—É–Ω–∫—Ü–∏–∏ Python –¥–ª—è –∞–Ω–∞–ª–∏–∑–∞ –¥–∞–Ω–Ω—ã—Ö

> **–¶–µ–ª—å**: –ü–æ–Ω—è—Ç—å –æ—Å–Ω–æ–≤—ã Python –¥–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏—è –±–∏–±–ª–∏–æ—Ç–µ–∫.

In [21]:
# –ü–µ—Ä–µ–º–µ–Ω–Ω—ã–µ –∏ —Ç–∏–ø—ã
age = 25
price = 99.99
name = "Alice"
is_student = True

print(type(age))      # int
print(type(price))    # float

<class 'int'>
<class 'float'>

In [22]:
# –°–ø–∏—Å–∫–∏ –∏ —Ü–∏–∫–ª—ã
heights = [170, 165, 180, 175, 160]

# –°—Ä–µ–¥–Ω–µ–µ –≤—Ä—É—á–Ω—É—é
total = 0
for h in heights:
    total += h
average = total / len(heights)
print(f"–°—Ä–µ–¥–Ω–∏–π —Ä–æ—Å—Ç: {average:.1f} —Å–º")

–°—Ä–µ–¥–Ω–∏–π —Ä–æ—Å—Ç: 170.0 —Å–º

In [23]:
# –°–ª–æ–≤–∞—Ä–∏
person = {
    "name": "Bob",
    "age": 30,
    "city": "Moscow"
}
print(person["name"])

Bob

In [24]:
# –§—É–Ω–∫—Ü–∏–∏
def calculate_bmi(weight, height):
    """–†–∞—Å—á—ë—Ç BMI"""
    height_m = height / 100
    return weight / (height_m ** 2)

bmi = calculate_bmi(70, 175)
print(f"BMI: {bmi:.2f}")

BMI: 22.86

## 2. –ó–Ω–∞–∫–æ–º—Å—Ç–≤–æ —Å NumPy

> **NumPy** ‚Äî –±–∏–±–ª–∏–æ—Ç–µ–∫–∞ –¥–ª—è –±—ã—Å—Ç—Ä—ã—Ö –º–∞—Ç–µ–º–∞—Ç–∏—á–µ—Å–∫–∏—Ö –æ–ø–µ—Ä–∞—Ü–∏–π.

In [25]:
import numpy as np

In [26]:
# –°–æ–∑–¥–∞–Ω–∏–µ –º–∞—Å—Å–∏–≤–∞
arr = np.array([1, 2, 3, 4, 5])
print("–ú–∞—Å—Å–∏–≤:", arr)
print("–¢–∏–ø:", type(arr))

–ú–∞—Å—Å–∏–≤: [1 2 3 4 5]
–¢–∏–ø: <class 'numpy.ndarray'>

In [27]:
# –°–ø–µ—Ü–∏–∞–ª—å–Ω—ã–µ –º–∞—Å—Å–∏–≤—ã
zeros = np.zeros(3)
ones = np.ones((2, 2))
range_arr = np.arange(0, 10, 2)
linspace = np.linspace(0, 1, 5)

print("Zeros:", zeros)
print("Ones:\n", ones)
print("Arange:", range_arr)
print("Linspace:", linspace)

Zeros: [0. 0. 0.]
Ones:
 [[1. 1.]
 [1. 1.]]
Arange: [0 2 4 6 8]
Linspace: [0.   0.25 0.5  0.75 1.  ]

In [28]:
# –ê—Ç—Ä–∏–±—É—Ç—ã –º–∞—Å—Å–∏–≤–∞
arr_2d = np.array([[1, 2, 3], [4, 5, 6]])
print("–†–∞–∑–º–µ—Ä–Ω–æ—Å—Ç—å:", arr_2d.ndim)
print("–§–æ—Ä–º–∞:", arr_2d.shape)
print("–ß–∏—Å–ª–æ —ç–ª–µ–º–µ–Ω—Ç–æ–≤:", arr_2d.size)
print("–¢–∏–ø –¥–∞–Ω–Ω—ã—Ö:", arr_2d.dtype)

–†–∞–∑–º–µ—Ä–Ω–æ—Å—Ç—å: 2
–§–æ—Ä–º–∞: (2, 3)
–ß–∏—Å–ª–æ —ç–ª–µ–º–µ–Ω—Ç–æ–≤: 6
–¢–∏–ø –¥–∞–Ω–Ω—ã—Ö: int64

In [29]:
# –ú–∞—Ç–µ–º–∞—Ç–∏—á–µ—Å–∫–∏–µ –æ–ø–µ—Ä–∞—Ü–∏–∏
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])

print("–°—É–º–º–∞:", a + b)
print("–£–º–Ω–æ–∂–µ–Ω–∏–µ:", a * b)
print("–ö–æ—Ä–µ–Ω—å:", np.sqrt(a))
print("–°—Ä–µ–¥–Ω–µ–µ:", a.mean())
print("–°—É–º–º–∞:", a.sum())

–°—É–º–º–∞: [5 7 9]
–£–º–Ω–æ–∂–µ–Ω–∏–µ: [ 4 10 18]
–ö–æ—Ä–µ–Ω—å: [1.         1.41421356 1.73205081]
–°—Ä–µ–¥–Ω–µ–µ: 2.0
–°—É–º–º–∞: 6

## 3. –†–∞–±–æ—Ç–∞ —Å Pandas: –∑–∞–≥—Ä—É–∑–∫–∞ –∏ –ø–µ—Ä–≤–∏—á–Ω—ã–π –∞–Ω–∞–ª–∏–∑

> **Pandas** ‚Äî –≥–ª–∞–≤–Ω—ã–π –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç –¥–ª—è –∞–Ω–∞–ª–∏–∑–∞ —Ç–∞–±–ª–∏—á–Ω—ã—Ö –¥–∞–Ω–Ω—ã—Ö.

In [30]:
import pandas as pd

In [31]:
# –ó–∞–≥—Ä—É–∑–∫–∞ –¥–∞—Ç–∞—Å–µ—Ç–∞ Iris
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv"
df = pd.read_csv(url)

In [32]:
# –ü–µ—Ä–≤–∏—á–Ω—ã–π –æ—Å–º–æ—Ç—Ä
df.head()  # –ø–µ—Ä–≤—ã–µ 5 —Å—Ç—Ä–æ–∫

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [33]:
df.tail(3)  # –ø–æ—Å–ª–µ–¥–Ω–∏–µ 3 —Å—Ç—Ä–æ–∫–∏

     sepal_length  sepal_width  petal_length  petal_width    species
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [34]:
df.info()  # –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ —Ç–∏–ø–∞—Ö –∏ –ø—Ä–æ–ø—É—Å–∫–∞—Ö

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [35]:
df.describe()  # —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞ –ø–æ —á–∏—Å–ª–æ–≤—ã–º —Å—Ç–æ–ª–±—Ü–∞–º

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [36]:
print(f"–†–∞–∑–º–µ—Ä: {df.shape}")  # (—Å—Ç—Ä–æ–∫–∏, —Å—Ç–æ–ª–±—Ü—ã)
print("–¢–∏–ø—ã:\n", df.dtypes)
print("–ü—Ä–æ–ø—É—Å–∫–∏:\n", df.isnull().sum())

–†–∞–∑–º–µ—Ä: (150, 5)
–¢–∏–ø—ã:
 sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object
–ü—Ä–æ–ø—É—Å–∫–∏:
 sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

## 4. –ü—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–∞ –¥–∞–Ω–Ω—ã—Ö: –ø—Ä–æ–ø—É—Å–∫–∏, –¥—É–±–ª–∏–∫–∞—Ç—ã, —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏—è

In [37]:
# –°–æ–∑–¥–∞–¥–∏–º –∫–æ–ø–∏—é –∏ –¥–æ–±–∞–≤–∏–º –ø—Ä–æ–ø—É—Å–∫–∏
df_copy = df.copy()
df_copy.loc[0:5, 'sepal_length'] = np.nan
print("–ü—Ä–æ–ø—É—Å–∫–∏ –≤ sepal_length:", df_copy['sepal_length'].isnull().sum())

–ü—Ä–æ–ø—É—Å–∫–∏ –≤ sepal_length: 6

In [38]:
# –ó–∞–ø–æ–ª–Ω–µ–Ω–∏–µ —Å—Ä–µ–¥–Ω–∏–º
mean_val = df_copy['sepal_length'].mean()
df_copy['sepal_length'].fillna(mean_val, inplace=True)
print("–ü—Ä–æ–ø—É—Å–∫–∏ –ø–æ—Å–ª–µ fillna:", df_copy['sepal_length'].isnull().sum())

–ü—Ä–æ–ø—É—Å–∫–∏ –ø–æ—Å–ª–µ fillna: 0

C:\Users\maksi\AppData\Local\Temp\ipykernel_2128\1357465779.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_copy['sepal_length'].fillna(mean_val, inplace=True)

In [39]:
# –£–¥–∞–ª–µ–Ω–∏–µ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ (–ø—Ä–∏–º–µ—Ä)
df_dup = pd.concat([df_copy, df_copy.iloc[[0]]], ignore_index=True)
print("–î–æ —É–¥–∞–ª–µ–Ω–∏—è –¥—É–±–ª–∏–∫–∞—Ç–æ–≤:", df_dup.duplicated().sum())

df_clean = df_dup.drop_duplicates()
print("–ü–æ—Å–ª–µ —É–¥–∞–ª–µ–Ω–∏—è:", df_clean.duplicated().sum())

–î–æ —É–¥–∞–ª–µ–Ω–∏—è –¥—É–±–ª–∏–∫–∞—Ç–æ–≤: 2
–ü–æ—Å–ª–µ —É–¥–∞–ª–µ–Ω–∏—è: 0

In [40]:
# –§–∏–ª—å—Ç—Ä–∞—Ü–∏—è
versicolor = df[df['species'] == 'versicolor']
long_sepals = df[df['sepal_length'] > 5.5]
filtered = df[(df['sepal_length'] > 5.5) & (df['species'] == 'virginica')]

filtered.head()

     sepal_length  sepal_width  petal_length  petal_width    species
100           6.3          3.3           6.0          2.5  virginica
101           5.8          2.7           5.1          1.9  virginica
102           7.1          3.0           5.9          2.1  virginica
103           6.3          2.9           5.6          1.8  virginica
104           6.5          3.0           5.8          2.2  virginica

In [41]:
# –ù–æ–≤—ã–µ —Å—Ç–æ–ª–±—Ü—ã
df['petal_ratio'] = df['petal_length'] / df['petal_width']
df['wide_petal'] = (df['petal_width'] > 1.0).astype(int)

df[['petal_length', 'petal_width', 'petal_ratio', 'wide_petal']].head()

   petal_length  petal_width  petal_ratio  wide_petal
0           1.4          0.2          7.0           0
1           1.4          0.2          7.0           0
2           1.3          0.2          6.5           0
3           1.5          0.2          7.5           0
4           1.4          0.2          7.0           0

## 5. –ì—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞, –∞–≥—Ä–µ–≥–∞—Ü–∏—è –∏ —Å–≤–æ–¥–Ω—ã–µ —Ç–∞–±–ª–∏—Ü—ã

In [42]:
# –ì—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞ –ø–æ –≤–∏–¥—É
grouped = df.groupby('species').mean()
grouped

,sepal_length,sepal_width,petal_length,petal_width,petal_ratio,wide_petal
species,,,,,,
setosa,5.006,3.428,1.462,0.246,6.908000,0.00
versicolor,5.936,2.770,4.260,1.326,3.242837,0.86
virginica,6.588,2.974,5.552,2.026,2.780662,1.00

In [43]:
# –ê–≥—Ä–µ–≥–∞—Ü–∏—è —Å –Ω–µ—Å–∫–æ–ª—å–∫–∏–º–∏ —Ñ—É–Ω–∫—Ü–∏—è–º–∏
stats = df.groupby('species')['sepal_length'].agg(['mean', 'std', 'min', 'max'])
stats

             mean       std  min  max
species
setosa      5.006  0.352490  4.3  5.8
versicolor  5.936  0.516171  4.9  7.0
virginica   6.588  0.635880  4.9  7.9

In [44]:
# –°–≤–æ–¥–Ω–∞—è —Ç–∞–±–ª–∏—Ü–∞
pivot = pd.pivot_table(
    df,
    values='sepal_length',
    index='species',
    columns='wide_petal',
    aggfunc='mean',
    fill_value=0
)
pivot

wide_petal         0        1
species
setosa      5.006000  0.00000
versicolor  5.414286  6.02093
virginica   0.000000  6.58800

In [45]:
# –ü—Ä–∏–º–µ–Ω–µ–Ω–∏–µ —Å–≤–æ–µ–π —Ñ—É–Ω–∫—Ü–∏–∏
def size_label(x):
    return 'Large' if x > 6.0 else 'Small'

df['size_category'] = df['sepal_length'].apply(size_label)
df[['sepal_length', 'size_category']].head()

   sepal_length size_category
0           5.1         Small
1           4.9         Small
2           4.7         Small
3           4.6         Small
4           5.0         Small

## üß† –ó–∞–∫–ª—é—á–µ–Ω–∏–µ

### üîπ NumPy
- `np.array()` ‚Äî —Å–æ–∑–¥–∞–Ω–∏–µ –º–∞—Å—Å–∏–≤–∞
- `np.zeros()`, `np.ones()` ‚Äî —à–∞–±–ª–æ–Ω—ã
- `mean()`, `sum()`, `sqrt()` ‚Äî –º–∞—Ç–µ–º–∞—Ç–∏–∫–∞

### üîπ Pandas
- `pd.read_csv()` ‚Äî –∑–∞–≥—Ä—É–∑–∫–∞
- `head()`, `info()`, `describe()` ‚Äî –æ—Å–º–æ—Ç—Ä
- `fillna()`, `drop_duplicates()` ‚Äî –æ—á–∏—Å—Ç–∫–∞
- `groupby()`, `pivot_table()` ‚Äî –∞–Ω–∞–ª–∏–∑

‚úÖ **–°–æ–≤–µ—Ç**: –í—Å–µ–≥–¥–∞ –Ω–∞—á–∏–Ω–∞–π —Å `.head()` –∏ `.info()`!