# –ö–æ–Ω—Å–ø–µ–∫—Ç: –ó–∞–≥—Ä—É–∑–∫–∞, –æ—á–∏—Å—Ç–∫–∞ –∏ –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö –≤ Python

–≠—Ç–æ—Ç –Ω–æ—É—Ç–±—É–∫ –æ—Ö–≤–∞—Ç—ã–≤–∞–µ—Ç –ø–æ–ª–Ω—ã–π —Ü–∏–∫–ª –ø—Ä–µ–¥–≤–∞—Ä–∏—Ç–µ–ª—å–Ω–æ–π –æ–±—Ä–∞–±–æ—Ç–∫–∏ –¥–∞–Ω–Ω—ã—Ö –Ω–∞ –ø—Ä–∏–º–µ—Ä–µ –¥–∞—Ç–∞—Å–µ—Ç–∞ `SalesTarget.csv`.

–°—Ç–æ–ª–±—Ü—ã:
- `row_id`: —á–∏—Å–ª–æ–≤–æ–π –∏–Ω–¥–µ–∫—Å
- `Category`: –∫–∞—Ç–µ–≥–æ—Ä–∏—è —Ç–æ–≤–∞—Ä–∞ (Office Supplies, Furniture, Technology)
- `Order Date`: –¥–∞—Ç–∞ –∑–∞–∫–∞–∑–∞
- `Segment`: —Å–µ–≥–º–µ–Ω—Ç –∫–ª–∏–µ–Ω—Ç–∞ (Consumer, Home Office)
- `Sales Target`: —Ü–µ–ª–µ–≤–æ–π –ø–æ–∫–∞–∑–∞—Ç–µ–ª—å –ø—Ä–æ–¥–∞–∂

–¶–µ–ª—å: –Ω–∞—É—á–∏—Ç—å—Å—è –∑–∞–≥—Ä—É–∂–∞—Ç—å, —á–∏—Å—Ç–∏—Ç—å –∏ –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤—ã–≤–∞—Ç—å –¥–∞–Ω–Ω—ã–µ —Å –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ–º `pandas` –∏ `numpy`.

In [1]:
# –ò–º–ø–æ—Ä—Ç –±–∏–±–ª–∏–æ—Ç–µ–∫
import pandas as pd
import numpy as np

## 1. –ó–∞–≥—Ä—É–∑–∫–∞ –¥–∞–Ω–Ω—ã—Ö

### –û —á—ë–º –ø–æ–π–¥—ë—Ç —Ä–µ—á—å:
- `pd.read_csv()` ‚Äî –∑–∞–≥—Ä—É–∑–∫–∞ –∏–∑ CSV
- –û–±—Ä–∞–±–æ—Ç–∫–∞ –ø—Ä–æ–±–µ–ª–æ–≤ –≤ –Ω–∞–∑–≤–∞–Ω–∏—è—Ö —Å—Ç–æ–ª–±—Ü–æ–≤
- –£–∫–∞–∑–∞–Ω–∏–µ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π
- –ü—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ —Ç–∏–ø–æ–≤ –ø—Ä–∏ –∑–∞–≥—Ä—É–∑–∫–µ

In [2]:
# –ó–∞–≥—Ä—É–∑–∫–∞ –¥–∞–Ω–Ω—ã—Ö
df = pd.read_csv('SalesTarget.csv',
                 na_values=['', 'N/A', 'NULL'],  # –ö–∞–∫–∏–µ –∑–Ω–∞—á–µ–Ω–∏—è —Å—á–∏—Ç–∞—Ç—å NaN
                 dtype={'row_id': 'Int64'}       # –ü–æ–∑–≤–æ–ª—è–µ–º Int64 —Å NaN
                )

# –ü–µ—Ä–µ–∏–º–µ–Ω—É–µ–º —Å—Ç–æ–ª–±–µ—Ü —Å –ø—Ä–æ–±–µ–ª–æ–º –¥–ª—è —É–¥–æ–±—Å—Ç–≤–∞
df = df.rename(columns={'Sales Target': 'Sales_Target'})

print(f"–†–∞–∑–º–µ—Ä –¥–∞–Ω–Ω—ã—Ö: {df.shape}")
print(f"–°—Ç–æ–ª–±—Ü—ã: {list(df.columns)}")
df.head()

–†–∞–∑–º–µ—Ä –¥–∞–Ω–Ω—ã—Ö: (4603, 5)
–°—Ç–æ–ª–±—Ü—ã: ['row_id', 'Category', 'Order Date', 'Segment', 'Sales_Target']

   row_id         Category  Order Date      Segment  Sales_Target
0       0  Office Supplies  2017-01-04     Consumer            15
1       1  Office Supplies  2017-01-05  Home Office           300
2       2  Office Supplies  2017-01-06     Consumer            21
3       3        Furniture  2017-01-07  Home Office          2316
4       4       Technology  2017-01-07  Home Office          1068

## 2. –û—á–∏—Å—Ç–∫–∞ –¥–∞–Ω–Ω—ã—Ö

### –û —á—ë–º –ø–æ–π–¥—ë—Ç —Ä–µ—á—å:
- –ü—Ä–æ–≤–µ—Ä–∫–∞ –∏ –æ–±—Ä–∞–±–æ—Ç–∫–∞ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π
- –£–¥–∞–ª–µ–Ω–∏–µ –∏ –∑–∞–ø–æ–ª–Ω–µ–Ω–∏–µ NaN
- –†–∞–±–æ—Ç–∞ —Å –¥—É–±–ª–∏–∫–∞—Ç–∞–º–∏
- –ü—Ä–∏–≤–µ–¥–µ–Ω–∏–µ —Ç–∏–ø–æ–≤ –¥–∞–Ω–Ω—ã—Ö
- –û—á–∏—Å—Ç–∫–∞ —Å—Ç—Ä–æ–∫: –ø—Ä–æ–±–µ–ª—ã, —Ä–µ–≥–∏—Å—Ç—Ä
- –£–¥–∞–ª–µ–Ω–∏–µ —Å—Ç–æ–ª–±—Ü–æ–≤/—Å—Ç—Ä–æ–∫
- –ó–∞–º–µ–Ω–∞ –∑–Ω–∞—á–µ–Ω–∏–π
- –û–±—Ä–∞–±–æ—Ç–∫–∞ –≤—ã–±—Ä–æ—Å–æ–≤ (IQR)
- –í–∞–ª–∏–¥–∞—Ü–∏—è –¥–∞–Ω–Ω—ã—Ö

### –ü—Ä–æ–≤–µ—Ä–∫–∞ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π

In [3]:
# –ü—Ä–æ–≤–µ—Ä–∫–∞ NaN
print("–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤:")
print(df.isna().sum())

print(f"\n–í—Å–µ–≥–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤: {df.isna().sum().sum()}")

–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤:
row_id          0
Category        0
Order Date      0
Segment         0
Sales_Target    0
dtype: int64

–í—Å–µ–≥–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤: 0

### –£–¥–∞–ª–µ–Ω–∏–µ —Å—Ç—Ä–æ–∫ —Å –ø—Ä–æ–ø—É—Å–∫–∞–º–∏

In [4]:
# –£–¥–∞–ª–µ–Ω–∏–µ —Å—Ç—Ä–æ–∫, –≥–¥–µ –µ—Å—Ç—å NaN –≤ –∫–ª—é—á–µ–≤—ã—Ö —Å—Ç–æ–ª–±—Ü–∞—Ö
df_clean = df.dropna(subset=['Category', 'Order Date', 'Segment', 'Sales_Target']).copy()

print(f"–ü–æ—Å–ª–µ —É–¥–∞–ª–µ–Ω–∏—è –ø—Ä–æ–ø—É—Å–∫–æ–≤: {df_clean.shape}")

–ü–æ—Å–ª–µ —É–¥–∞–ª–µ–Ω–∏—è –ø—Ä–æ–ø—É—Å–∫–æ–≤: (4603, 5)

### –†–∞–±–æ—Ç–∞ —Å –¥—É–±–ª–∏–∫–∞—Ç–∞–º–∏

In [5]:
# –ü–æ–∏—Å–∫ –ø–æ–ª–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤
duplicates = df_clean.duplicated().sum()
print(f"–ü–æ–ª–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤: {duplicates}")

# –£–¥–∞–ª–µ–Ω–∏–µ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤
df_clean = df_clean.drop_duplicates().copy()
print(f"–ü–æ—Å–ª–µ —É–¥–∞–ª–µ–Ω–∏—è –¥—É–±–ª–∏–∫–∞—Ç–æ–≤: {df_clean.shape}")

–ü–æ–ª–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤: 0
–ü–æ—Å–ª–µ —É–¥–∞–ª–µ–Ω–∏—è –¥—É–±–ª–∏–∫–∞—Ç–æ–≤: (4603, 5)

### –ü—Ä–∏–≤–µ–¥–µ–Ω–∏–µ —Ç–∏–ø–æ–≤ –¥–∞–Ω–Ω—ã—Ö

In [6]:
# –ü—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ –¥–∞—Ç—ã
df_clean['Order Date'] = pd.to_datetime(df_clean['Order Date'], errors='coerce')

# –ü—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ Sales_Target –≤ —á–∏—Å–ª–æ–≤–æ–π
df_clean['Sales_Target'] = pd.to_numeric(df_clean['Sales_Target'], errors='coerce')

# –ü—Ä–∏–≤–µ–¥–µ–Ω–∏–µ –∫ —Å—Ç—Ä–æ–∫–µ —Å –ø–æ–¥–¥–µ—Ä–∂–∫–æ–π NaN
df_clean['Category'] = df_clean['Category'].astype('string')
df_clean['Segment'] = df_clean['Segment'].astype('string')

print("–¢–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö –ø–æ—Å–ª–µ –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è:")
print(df_clean.dtypes)

–¢–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö –ø–æ—Å–ª–µ –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è:
row_id                   Int64
Category        string[python]
Order Date      datetime64[ns]
Segment         string[python]
Sales_Target             int64
dtype: object

### –û—á–∏—Å—Ç–∫–∞ —Å—Ç—Ä–æ–∫: –ø—Ä–æ–±–µ–ª—ã –∏ —Ä–µ–≥–∏—Å—Ç—Ä

In [7]:
# –£–¥–∞–ª–µ–Ω–∏–µ –ø—Ä–æ–±–µ–ª–æ–≤ –∏ –ø—Ä–∏–≤–µ–¥–µ–Ω–∏–µ –∫ —Å—Ç–∞–Ω–¥–∞—Ä—Ç–Ω–æ–º—É —Ä–µ–≥–∏—Å—Ç—Ä—É
df_clean['Category'] = df_clean['Category'].str.strip().str.title()
df_clean['Segment'] = df_clean['Segment'].str.strip().str.title()

print("–£–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –ø–æ—Å–ª–µ –æ—á–∏—Å—Ç–∫–∏:")
print("Category:", df_clean['Category'].unique())
print("Segment:", df_clean['Segment'].unique())

–£–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –ø–æ—Å–ª–µ –æ—á–∏—Å—Ç–∫–∏:
Category: <StringArray>
['Office Supplies', 'Furniture', 'Technology']
Length: 3, dtype: string
Segment: <StringArray>
['Consumer', 'Home Office', 'Corporate']
Length: 3, dtype: string

### –£–¥–∞–ª–µ–Ω–∏–µ —Å—Ç–æ–ª–±—Ü–æ–≤

In [8]:
# –£–¥–∞–ª–µ–Ω–∏–µ row_id, –µ—Å–ª–∏ –Ω–µ –Ω—É–∂–µ–Ω
if 'row_id' in df_clean.columns:
    df_clean = df_clean.drop(columns=['row_id'])

print(f"–û—Å—Ç–∞–ª–æ—Å—å —Å—Ç–æ–ª–±—Ü–æ–≤: {df_clean.shape[1]}")

–û—Å—Ç–∞–ª–æ—Å—å —Å—Ç–æ–ª–±—Ü–æ–≤: 4

### –ó–∞–º–µ–Ω–∞ –∑–Ω–∞—á–µ–Ω–∏–π

In [9]:
# –ó–∞–º–µ–Ω–∞ –¥–ª—è —É–ª—É—á—à–µ–Ω–∏—è —á–∏—Ç–∞–µ–º–æ—Å—Ç–∏
category_map = {
    'Office Supplies': 'Office & Supplies',
    'Furniture': 'Furniture & Decor',
    'Technology': 'Electronics & Tech'
}

segment_map = {
    'Home Office': 'Remote Worker',
    'Consumer': 'Individual Buyer'
}

df_clean['Category'] = df_clean['Category'].replace(category_map)
df_clean['Segment'] = df_clean['Segment'].replace(segment_map)

print("–ü–æ—Å–ª–µ –∑–∞–º–µ–Ω—ã:\n", df_clean[['Category', 'Segment']].head(3))

–ü–æ—Å–ª–µ –∑–∞–º–µ–Ω—ã:
             Category           Segment
0  Office & Supplies  Individual Buyer
1  Office & Supplies     Remote Worker
2  Office & Supplies  Individual Buyer

### –û–±—Ä–∞–±–æ—Ç–∫–∞ –≤—ã–±—Ä–æ—Å–æ–≤ (IQR-–º–µ—Ç–æ–¥)

In [10]:
# –§—É–Ω–∫—Ü–∏—è —É–¥–∞–ª–µ–Ω–∏—è –≤—ã–±—Ä–æ—Å–æ–≤
def remove_outliers_iqr(df, col):
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR
    return df[(df[col] >= lower) & (df[col] <= upper)]

df_clean = remove_outliers_iqr(df_clean, 'Sales_Target')
print(f"–ü–æ—Å–ª–µ —É–¥–∞–ª–µ–Ω–∏—è –≤—ã–±—Ä–æ—Å–æ–≤: {df_clean.shape[0]} —Å—Ç—Ä–æ–∫")

–ü–æ—Å–ª–µ —É–¥–∞–ª–µ–Ω–∏—è –≤—ã–±—Ä–æ—Å–æ–≤: 4203 —Å—Ç—Ä–æ–∫

### –í–∞–ª–∏–¥–∞—Ü–∏—è –¥–∞–Ω–Ω—ã—Ö

In [11]:
# –ü—Ä–æ–≤–µ—Ä–∫–∞ –¥–∏–∞–ø–∞–∑–æ–Ω–∞ Sales_Target
invalid_sales = df_clean[(df_clean['Sales_Target'] <= 0)]
if len(invalid_sales) > 0:
    print(f"–ù–∞–π–¥–µ–Ω–æ {len(invalid_sales)} —Å—Ç—Ä–æ–∫ —Å –Ω–µ–∫–æ—Ä—Ä–µ–∫—Ç–Ω—ã–º Sales_Target")
    df_clean = df_clean[df_clean['Sales_Target'] > 0]

# –ü—Ä–æ–≤–µ—Ä–∫–∞ –¥–∞—Ç
df_clean = df_clean[df_clean['Order Date'].dt.year.between(2010, 2025)]

print(f"–§–∏–Ω–∞–ª—å–Ω—ã–π —Ä–∞–∑–º–µ—Ä: {df_clean.shape}")

–§–∏–Ω–∞–ª—å–Ω—ã–π —Ä–∞–∑–º–µ—Ä: (4203, 4)

## 3. –ü—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö

### –û —á—ë–º –ø–æ–π–¥—ë—Ç —Ä–µ—á—å:
- –ì—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞ –∏ –∞–≥—Ä–µ–≥–∞—Ü–∏—è
- –°–≤–æ–¥–Ω—ã–µ —Ç–∞–±–ª–∏—Ü—ã
- –°–æ–∑–¥–∞–Ω–∏–µ –Ω–æ–≤—ã—Ö —Å—Ç–æ–ª–±—Ü–æ–≤
- –£—Å–ª–æ–≤–Ω—ã–µ –≤—ã—á–∏—Å–ª–µ–Ω–∏—è
- –§–∏–ª—å—Ç—Ä–∞—Ü–∏—è –∏ —Å–æ—Ä—Ç–∏—Ä–æ–≤–∫–∞
- –ò–∑–º–µ–Ω–µ–Ω–∏–µ –∏–Ω–¥–µ–∫—Å–∞

### –ì—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞ –∏ –∞–≥—Ä–µ–≥–∞—Ü–∏—è

In [12]:
grouped = df_clean.groupby(['Category', 'Segment']).agg({
    'Sales_Target': ['sum', 'mean', 'count'],
    'Order Date': 'min'
}).round(2)

grouped.columns = ['_'.join(col).strip() for col in grouped.columns]
grouped = grouped.reset_index()

print("–°–≤–æ–¥–∫–∞ –ø–æ –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º –∏ —Å–µ–≥–º–µ–Ω—Ç–∞–º:")
grouped

–°–≤–æ–¥–∫–∞ –ø–æ –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º –∏ —Å–µ–≥–º–µ–Ω—Ç–∞–º:

,Category,Segment,Sales_Target_sum,Sales_Target_mean,Sales_Target_count,Order Date_min
0,Electronics & Tech,Corporate,105807,321.60,329,2017-01-14
1,Electronics & Tech,Individual Buyer,172688,362.03,477,2017-01-10
2,Electronics & Tech,Remote Worker,70497,329.43,214,2017-01-07
3,Furniture & Decor,Corporate,130572,346.34,377,2017-01-11
4,Furniture & Decor,Individual Buyer,192250,362.05,531,2017-01-08
5,Furniture & Decor,Remote Worker,73056,294.58,248,2017-01-27
6,Office & Supplies,Corporate,141005,207.06,681,2017-01-07
7,Office & Supplies,Individual Buyer,209787,241.97,867,2017-01-04
8,Office & Supplies,Remote Worker,80713,168.50,479,2017-01-05

### –°–≤–æ–¥–Ω—ã–µ —Ç–∞–±–ª–∏—Ü—ã

In [14]:
# –î–æ–±–∞–≤–∏–º –≥–æ–¥
df_clean['Order_Year'] = df_clean['Order Date'].dt.year

pivot = pd.pivot_table(df_clean,
                       values='Sales_Target',
                       index='Category',
                       columns='Order_Year',
                       aggfunc='sum',
                       fill_value=0)

print("–°–≤–æ–¥–Ω–∞—è —Ç–∞–±–ª–∏—Ü–∞ –ø–æ –≥–æ–¥–∞–º:")
pivot

–°–≤–æ–¥–Ω–∞—è —Ç–∞–±–ª–∏—Ü–∞ –ø–æ –≥–æ–¥–∞–º:

Order_Year           2017   2018    2019    2020
Category
Electronics & Tech  69225  84048   87358  108361
Furniture & Decor   87638  84420  106921  116899
Office & Supplies   82007  89928  117503  142067

### –°–æ–∑–¥–∞–Ω–∏–µ –Ω–æ–≤—ã—Ö —Å—Ç–æ–ª–±—Ü–æ–≤

In [15]:
df_clean['Sales_Category'] = df_clean['Sales_Target'].apply(
    lambda x: 'High' if x > 500 else 'Low'
)

print("–ù–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü 'Sales_Category':")
print(df_clean[['Sales_Target', 'Sales_Category']].head(3))

–ù–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü 'Sales_Category':
   Sales_Target Sales_Category
0            15            Low
1           300            Low
2            21            Low

### –£—Å–ª–æ–≤–Ω—ã–µ –≤—ã—á–∏—Å–ª–µ–Ω–∏—è

In [16]:
df_clean['Bonus'] = np.where(
    df_clean['Sales_Target'] > 200,
    df_clean['Sales_Target'] * 0.1,
    df_clean['Sales_Target'] * 0.05
)

print("–°—Ç–æ–ª–±–µ—Ü 'Bonus' –¥–æ–±–∞–≤–ª–µ–Ω:")
print(df_clean[['Sales_Target', 'Bonus']].head(3))

–°—Ç–æ–ª–±–µ—Ü 'Bonus' –¥–æ–±–∞–≤–ª–µ–Ω:
   Sales_Target  Bonus
0            15   0.75
1           300  30.00
2            21   1.05

### –§–∏–ª—å—Ç—Ä–∞—Ü–∏—è –∏ —Å–æ—Ä—Ç–∏—Ä–æ–≤–∫–∞

In [17]:
filtered = df_clean[
    (df_clean['Category'] == 'Office & Supplies') &
    (df_clean['Sales_Target'] > 100)
]

sorted_df = filtered.sort_values(by='Sales_Target', ascending=False)

print("–û—Ç—Ñ–∏–ª—å—Ç—Ä–æ–≤–∞–Ω–æ –∏ –æ—Ç—Å–æ—Ä—Ç–∏—Ä–æ–≤–∞–Ω–æ:")
sorted_df.head(3)

–û—Ç—Ñ–∏–ª—å—Ç—Ä–æ–≤–∞–Ω–æ –∏ –æ—Ç—Å–æ—Ä—Ç–∏—Ä–æ–≤–∞–Ω–æ:

,Category,Order Date,Segment,Sales_Target,Order_Year,Sales_Category,Bonus
3016,Office & Supplies,2019-11-25,Individual Buyer,1287,2019,High,128.7
3067,Office & Supplies,2019-12-04,Individual Buyer,1287,2019,High,128.7
3073,Office & Supplies,2019-12-06,Individual Buyer,1283,2019,High,128.3

### –ò–∑–º–µ–Ω–µ–Ω–∏–µ –∏–Ω–¥–µ–∫—Å–∞

In [18]:
df_indexed = df_clean.set_index('Order Date')
df_reset = df_indexed.reset_index()

print("–ò–Ω–¥–µ–∫—Å –∏–∑–º–µ–Ω—ë–Ω –∏ –≤–æ—Å—Å—Ç–∞–Ω–æ–≤–ª–µ–Ω.")

–ò–Ω–¥–µ–∫—Å –∏–∑–º–µ–Ω—ë–Ω –∏ –≤–æ—Å—Å—Ç–∞–Ω–æ–≤–ª–µ–Ω.

## –ó–∞–∫–ª—é—á–µ–Ω–∏–µ

–≠—Ç–æ—Ç –∫–æ–Ω—Å–ø–µ–∫—Ç –æ—Ö–≤–∞—Ç—ã–≤–∞–µ—Ç –ø–æ–ª–Ω—ã–π —Ü–∏–∫–ª –ø—Ä–µ–¥–≤–∞—Ä–∏—Ç–µ–ª—å–Ω–æ–π –æ–±—Ä–∞–±–æ—Ç–∫–∏ –¥–∞–Ω–Ω—ã—Ö:
- –ó–∞–≥—Ä—É–∑–∫–∞ —Å –æ–±—Ä–∞–±–æ—Ç–∫–æ–π –ø—Ä–æ–±–µ–ª–æ–≤ –∏ —Ç–∏–ø–æ–≤
- –ì–ª—É–±–æ–∫–∞—è –æ—á–∏—Å—Ç–∫–∞: NaN, –¥—É–±–ª–∏, —Å—Ç—Ä–æ–∫–∏, –≤—ã–±—Ä–æ—Å—ã
- –ü—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ: –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞, —Å–≤–æ–¥–Ω—ã–µ —Ç–∞–±–ª–∏—Ü—ã, —É—Å–ª–æ–≤–∏—è, –Ω–æ–≤—ã–µ —Å—Ç–æ–ª–±—Ü—ã

–í—Å–µ –æ–ø–µ—Ä–∞—Ü–∏–∏ –≤—ã–ø–æ–ª–Ω–µ–Ω—ã –±–µ–∑–æ–ø–∞—Å–Ω–æ, –±–µ–∑ –ø—Ä–µ–¥—É–ø—Ä–µ–∂–¥–µ–Ω–∏–π, —Å –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ–º —Å–æ–≤—Ä–µ–º–µ–Ω–Ω—ã—Ö –ø—Ä–∞–∫—Ç–∏–∫ `pandas`.

üìå **–°–æ–≤–µ—Ç**: –í—Å–µ–≥–¥–∞ –∏—Å–ø–æ–ª—å–∑—É–π—Ç–µ `.copy()` –ø–æ—Å–ª–µ —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏–∏ –∏ `astype('string')` –¥–ª—è —Å—Ç—Ä–æ–∫ —Å NaN.